scikit-image
scipy
opencv-python
tqdm
zarr==2.18.4
segmentation-models-pytorch
toml
numcodecs
timm==0.9.6
acvl_utils
pandas
dynamic_network_architectures
nibabel
matplotlib
seaborn
tifffile
Pillow
SimpleITK
docopt
future
imgaug
psutil
scikit-learn
tensorboard
tensorboardx
termcolor
numpy==1.24.2
batchgenerators==0.25
cityscapesscripts==2.2.2
einops==0.7.0
h5py==3.10.0
icecream==2.1.3
imageio==2.31.6
ipython==8.12.3
MedPy==0.4.0
mmcv==1.7.0
pycocotools==2.0.7
safetensors==0.3.1
terminaltables==3.1.10
batchgeneratorsv2